<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "(例)田中太郎" %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email, placeholder: "(例)aaa@bbb.com" %>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>

  <% if logged_in? %>
    <div class="field">
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :profile %><br>
      <%= form.text_area :profile,size: '50x10' %>
    </div>
  <% else %>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
