<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-xs-12">
    <%= form.text_field :name, placeholder: "ユーザーネーム" %>
  </div>

  <div class="form-group col-xs-12">
    <%= form.text_field :email, placeholder: "メールアドレス" %>
  </div>

  <% if logged_in? %>
    <div class="field">
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :profile %><br>
      <%= form.text_area :profile,size: '50x10' %>
    </div>
  <% else %>
    <div class="form-group col-xs-12">
      <%= form.password_field :password, placeholder: "パスワード" %>
    </div>

    <div class="form-group col-xs-12">
      <%= form.password_field :password_confirmation, placeholder: "確認用パスワード" %>
    </div>
  <% end %>
  <div class="col-xs-12">
    <div class="btn col-xs-12">
      <%= form.submit "登録する" %>
    </div>
  </div>
<% end %>
