<h1>User Page</h1>



<div class="profile-image">
  <% if @user.image?%>
    <%= image_tag @user.image.url,size: '200x200' %>
  <% else %>
    <%= image_tag 'no_image.png',size: '200x200' %>
  <% end %>
</div>

<div class="profile-edit">
  <%if @user.id == current_user.id %>
    <%= link_to 'プロフィールを編集', edit_user_path(@user) %>
  <% end %>
</div>

<div class="profile-count">
  <p>
    投稿<strong><%= @user.pictures.count %></strong>件
  </p>

  <p>
    お気に入り<strong><%= @user.favorites.count %></strong>件
  </p>
</div>

<%= link_to 'お気に入りを表示', favorites_user_path(@user) %>

<div class="profile-contents">
  <p>
    <strong><%= @user.name %></strong>
  </p>
  <p>
    <%= @user.profile %>
  </p>
</div>

<% @pictures.each do |picture| %>
  <%= image_tag picture.image.url, size: '200x200' %>
  <%= picture.content %>

  <%= link_to 'Show', picture %>
<% end %>
<br>
<%= link_to 'Back', pictures_path %>
