<h1>Pictures</h1>

<% @pictures.each do |picture| %>
  <%= link_to picture.user.name , user_path(picture.user.id) %>
  <%= image_tag picture.image.url, size: '200x200' %>
  <%= picture.content %>

  <p>いいね！数: <strong><%= picture.favorite_users.count %></strong></p>

  <%= link_to 'Show', picture %>
  <% if picture.user.id == current_user.id%>
    <%= link_to 'Edit', edit_picture_path(picture) %>
    <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Picture', new_picture_path %>
