<div class="row">
  <div class="thumnail">
    <% @pictures.each do |picture| %>
      <div class="contents-row container">
        <div class="user-image pull-left">
          <% if picture.user.image?%>
            <%= image_tag picture.user.image.url, size: '30x30'%>
          <% else %>
            <%= image_tag 'face.png',size: '30x30' %>
          <% end %>
        </div>
        <div class="user-name">
          <strong><%= link_to picture.user.name , user_path(picture.user.id) %></strong>
        </div>
        <div class="nav pull-right">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              menu
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a><%= link_to 'Show', picture_path(picture) %></a></li>
              <% if picture.user.id == current_user.id%>
                <li><a><%= link_to 'Edit', edit_picture_path(picture) %></a></li>
                <li><a><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'よろしいですか？' } %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="image">
          <%= image_tag picture.image.url %>
        </div>
        <div class="caption">
          <p>いいね！数: <strong><%= picture.favorite_users.count %></strong></p>
          <p><%= picture.created_at.strftime('%Y/%m/%d %H:%M') %></p>
          <h4><%= picture.content %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
