<div class="hidden-row">
  <div class="row">
    <div class="user-image pull-left">
      <% if @picture.user.image?%>
        <%= image_tag @picture.user.image.url, size: '30x30'%>
      <% else %>
        <%= image_tag 'face.png',size: '30x30' %>
      <% end %>
    </div>
    <div class="user-name">
      <strong><%= link_to @picture.user.name , user_path(@picture.user.id) %></strong>
    </div>
    <div class="nav pull-right">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          menu
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a><%= link_to 'Show', picture_path(@picture) %></a></li>
          <% if @picture.user.id == current_user.id%>
            <li><a><%= link_to 'Edit', edit_picture_path(@picture) %></a></li>
            <li><a><%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'よろしいですか？' } %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="favorite pull-right">
      <% unless @picture.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'いいね！解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'いいね！する', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="image">
    <%= image_tag @picture.image.url %>
  </div>
  <div class="caption">
    <table>
      <tr>
        <td>いいね！数: <strong><%= @picture.favorite_users.count %></strong>／</td>
        <td>コメント数: <strong><%= @picture.comments.count %></strong></td>
      </tr>
    </table>
    <br>
    <p><%= @picture.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <h4><%= @picture.content %></h4>
    <br>
    <p>
	    <button type="button" class="btn btn-default display-btn" data-toggle="collapse" data-target="#collapseSample1">
		    コメント表示
	    </button>
    </p>
    <div class="collapse" id="collapseSample1">
	    <div class="well">
        <table class="comments">
          <% @picture.comments.each do |comment| %>
            <tr>
              <td class="comment-user small"><strong><%= link_to "#{comment.user.name}" , @user %></strong></td>
              <td class="comment-content small"><%= comment.content %></td>
            </tr>
          <% end %>
        </table>
	    </div>
    </div>
  </div>
  <div class="">
    <%= form_with(model: [@picture, @comment], local: true) do |form| %>
      <div class="form-group col-xs-12 ">
        <%= form.text_field :content, placeholder: "コメントを追加..." %>
      </div>
      <div class="comment-btn pull-right">
        <%= form.submit 'コメントする' %>
      </div>
    <% end %>
  </div>
</div>
