<!DOCTYPE html>
<html>
  <head>
    <title>Baestagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <header class="container">
        <div class="header row">
          <div class="navbar-right col-xs-6 pull-right">
            <% if logged_in? %>
              <div class="create-btn pull-right">
                <%= link_to image_tag('create.png', size: '32x32'), new_picture_path %>
              </div>
              <div class="user-image pull-right">
                <% if current_user.image.url.present? %>
                  <%= link_to image_tag(current_user.image.url, size: '32x32'), user_path(current_user.id) %>
                <% else %>
                  <%= link_to image_tag('face.png', size: '32x32'), user_path(current_user.id) %>
                <%end%>
              </div>
            <% else %>
              <div class="pull-right">
                <div class="btn-login">
                  <%= link_to "ログイン", new_session_path %>
                </div>
                <strong><%= link_to "登録", new_user_path %></strong>
              </div>
            <% end %>
          </div>
          <div class="navbar-brand col-xs-6 pull-left">
            <%= link_to image_tag('header_logo.png'), pictures_path %>
          </div>
        </div>
      </header>
    </nav>
    <div class="alert">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
    <div class="container article">
      <%= yield %>
    </div>
    <footer class="row">
      <p>c 2020 BAESTAGRAM FROM KAO-BON</p>
    </footer>
  </body>
</html>
