<!DOCTYPE html>
<html>
  <head>
    <title>Baestagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header navbar-brand">
          <%= link_to image_tag('header_logo.png'), pictures_path %>
        </div>
        <div class="navbar navbar-right">
          <% if logged_in? %>
            <div class="user-image pull-left">
              <% if current_user.image.url.present? %>
                <%= link_to image_tag(current_user.image.url ,size: '30x30'), user_path(current_user.id)%>
              <%end%>
            </div>
            <div class="menu">
              <%= link_to 'Create', new_picture_path %>
              <%= link_to "Profile", user_path(current_user.id) %>
              <%= link_to "Logout", session_path(current_user.id), method: :delete %>
            </div>
          <% else %>
            <div class="menu">
              <div class="btn-login">
                <%= link_to "ログイン", new_session_path %>
              </div>
              <strong><%= link_to "登録", new_user_path %></strong>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="alert">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>

    <%= yield %>
    <footer>
      <p>c 2020 BAESTAGRAM FROM KAO-BON</p>
    </footer>
  </body>
</html>
